.club{
    font-family: 'Bebas Neue', cursive;
}
.title{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 60px;
    background: linear-gradient(#2563eb, #1447b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 15px;
    
}
.title1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 60px;
    background: linear-gradient(#2563eb, #1447b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10px;
    margin-bottom: 55px;
    -webkit-box-reflect: below 1px linear-gradient(#2564eb41, #1447b536);
}